/* 나눔 고딕 웹폰트선언-구글폰트 import  */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

/* reset */
*{margin:0; padding: 0;}

/* 공통 */
/* body에 
   서체 나눔고딕지정 
   글자크기 11pt -> em으로 지정 
   줄간격 1.2 
   글자색 #333 
   그리고 ios에서 핸드폰 방향 전환했을 때 글자 진하게 되지 말게 설정
   */

body{
  font-family: 'Nanum Gothic', sans-serif;
  font-size:0.938em;/*11pt*/
  line-height: 1.2;
  color:#333;
  -webkit-text-size-adjust: none;
}

/* 레이아웃 */
/* 
 header를 부모의 너비를 다쓰고
 최소높이가 50px 되고 아니면 자식의 높이를 따른다
 안쪽여백 2글자 들어가게
 배경색은 회색
*/

header{
  /* width:auto; */
  min-height: 50px;
  padding:2rem;
  background-color: #ccc;
}

/* 
  h1은 너비를 1400을 가지고
  부모ㅇ영역에서 가운데
*/
.page-title{
  width:90%;
  max-width:1400px;
  margin:0 auto;
  background-color: #f00;
}