@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif; */

/* reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,
input,
textarea,
select,
button {
  font-family: 'Nanum Gothic', "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
  font-size: 14px;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
  font-weight: normal;
}

/* 사용자지정속성 
   변수선언
   1. 선언형식
   선택자의 후손들은 변수 다 상속 받아서 사용가능
   선택자{
    --변수명:값;
   }
 

   2. 사용
   선택자{
    height:var(--변수명)
   }
*/
:root{
  --header-height:80px;
  --primary-color:#1ec545;
  --primary-color-dark:#0fb93c;
}

/* 공통 */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}

.flex-container{
  display: flex;
}


.flex-direction-column{
  flex-direction: column;
}

/* 
.item{
  
  background-color: rgba(0,0,255,0.5);
  border: 1px solid #000;
} 
*/

.test{
  background-color: #00f;
  min-height: 100px;
}


/* header */
header{
  position: fixed;
  width:100%;
  height: 80px;
  height: var(--header-height);

  background-color: rgba(255,255,255,0.3);
  border: 1px solid #000;
}

.header_wrap{
  max-width: 1440px;
  margin:0 auto;
  /*  display: flex; flex-container선언 */
  justify-content: space-between;
  align-items: center; 

}

/* .header_wrap .header_logo,
.header_wrap nav,
.header_wrap .header_util{
  flex:none;
} */
.header_wrap .header_logo a{
  display: block;
  width:90px; height: 20px;
  background:url(../image/header_logo.png) no-repeat 50% 50%;
}

.header_wrap nav{
  height: var(--header-height);
}

nav .gnb_menu{
  /* nav .gnb_menu .gnb_menu_list를
  display: inline-block;으로 지정해서 생기는 여백을 없애기 위해 
  */
  font-size:0;
}
nav .gnb_menu .gnb_menu_list,
nav .gnb_menu .gnb_menu_list_recruit{
/* li 수평으로 나란히  */
display: inline-block;
}
/* nav .gnb_menu .gnb_menu_list a.gnb_menu_item{ */
nav .gnb_menu  a.gnb_menu_item{
  position: relative;/*nav .gnb_menu .gnb_menu_list:hover a.gnb_menu_item::before 기준조상*/
  display: block;
  margin:0 30px;
  line-height: var(--header-height);
  font-size:15px;
  color:#000;
  font-weight: bold;

}

/* 
메뉴에 mouseover 하면 메뉴밑에 바 그리기 
*/

/* 
   선택자 
   마우스over 요소   속성을 지정하는 요소
   마우스over 요소  >  속성을 지정하는 요소

   마우스over 요소 .gnb_menu .gnb_menu_list
   속성을 지정하는 요소 a.gnb_menu_item

*/

nav .gnb_menu .gnb_menu_list a.gnb_menu_item::before{
  content:'';
  position: absolute;
  left:0; bottom:1em;
  display: block;
  width:100%; height: 2px;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.2s;
  transform-origin: 100% 0;
  

}
nav .gnb_menu .gnb_menu_list:hover a.gnb_menu_item::before{
  transform: scaleX(1);
  transition: transform 0.2s;
  transform-origin: 0 0;
}


/* 
li마우스오버시  ul.gnb_dropMenu_wrap
 display:none;과
 display:fex; 로 화면표시 제어
*/
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap{
  /* depth2  d1 mouseover(mouseenter)할 때 드롭다운되는 메뉴*/
  position: absolute;
  width:100%;
  left:0;
  background-color: var(--primary-color);
  display: none;/*테스트후 flex로 처리*/
  /* display: flex;  */
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
/* 1번메뉴를 위한 테스트 선택자 */
/* .gnb_menu_list:nth-child(1)  1~7번으로 확인하면서 체크 */
nav .gnb_menu .gnb_menu_list:nth-child(1) ul.gnb_dropMenu_wrap{
   /* gnb_dropMenu_wrap>li 수평으로 오게 하기 위해서  display: flex;*/
   /* display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: stretch; */
}

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap> li{
  position: relative;/*nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap> li::before{ 기준*/
  font-size:14px;
  width:190px; 
  height: 367px;
  padding:28px 0 0;
  
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap> li::before{
  content: '';
  display: block;
  position: absolute;
  left:0; top:0;
  width:1px; height: 100%;
  background-color: rgba(255,255,255,0.2);

}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap> li:last-child:after{
  content: '';
  display: block;
  position: absolute;
  right:0; top:0;
  width:1px; height: 100%;
  background-color: rgba(255,255,255,0.2);

}

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap> li:hover{
  background-color: var(--primary-color-dark);
}

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu{
  /* padding-left:2em; */
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu .depth_blank{
  margin-bottom:14px;
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu>li{
  margin-bottom:7px;
  padding-left:20px;

}

nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item{
  color:#fff
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item strong span{
  opacity:1;
  font-weight: bold;

}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item span {
  opacity:0.8;
}

nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .classify{
  margin-bottom:20px;
  border-top:1px solid rgba(2255,255,255,0.2);
  padding-top:20px;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .classify:first-child{
  padding-top:0;
  border-top:0 none;
}

.header_util{
  /* 
  .header_util .header_lang{}
   .header_util .sitemap_box{}
   flex item으로 만들기 위해
   */
  display: flex;
}
.header_util .header_lang{
  margin-right:2em;
}
.header_util .header_lang a{
  position: relative;
  color:#000;
  opacity:1;
  font-size: 12px;
  padding:0 0.5em;
}
.header_util .header_lang a:first-child::after{
  content: '';
  position: absolute;
  right:-3px; top:0;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #000;

}
.header_util .header_lang a[aria-selected="false"]{
  opacity:0.7;
}


.header_util .sitemap_box{
  position: relative;/*.header_util .sitemap_box .btn_line 기준*/
  width:24px;
}
.header_util .sitemap_box .btn_line{
  position: absolute;
  right:0;
  display: block;
  width:24px; height: 2px;
  background-color: #000;
  transition: transform 0.2s;/*추가*/
}

 .header_util .sitemap_box .btn_line:nth-of-type(2){
  top:2px;
  /* width:calc(24px - 2px); */
 }
 .header_util .sitemap_box .btn_line:nth-of-type(3){
  top:10px;
  /* width:calc(24px - 4px); */
 }

 .header_util .sitemap_box .btn_line:nth-of-type(4){
  top:18px;
 }

 /* 사용자가 햄버거 메뉴를 클릭한 상태
   header.active
 */
 header.active .header_util .sitemap_box .btn_line{
    background-color: #fff;
    transition: transform 0.2s;/*추가*/
 }

 header.active .header_util .sitemap_box .btn_line:nth-of-type(2){
  transform: rotate(-45deg) translateY(11px);
 }
 header.active .header_util .sitemap_box .btn_line:nth-of-type(3){
  opacity:0;
 }

 header.active .header_util .sitemap_box .btn_line:nth-of-type(4){
  transform: rotate(45deg) translateY(-11px);
 }







/* .container */
.container{
  padding:80px 0 160px;
  background-color: #ccc;/*테스트용*/
}